html {
  font-family: 'Reem Kufi', sans-serif; 
  background-color: #FFFFFF;
}

p {
	font-size: 150px;
	text-align: right;
}

h1 {
	position:fixed;
	top: 50%;
}

img {
  display: block;
  padding: 25px 0 0 0;
  margin: 0 auto;
  top: 0%;
  right: 29%;
  position: fixed;
  width: 30em;
  
}

